@media only screen and (max-device-width: $phone-width) {
    body,
    .container,
    .site-header {
        width: $phone-width;
    }

    .posts-wrapper {
        width: $phone-width - 20px;
        padding: 5px;
        font-size: 13px;
    }

    .footer {
        margin: 0 5px;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }
}
